<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Создание новой книги</title>
</head>
<body>
<form th:method="POST" th:object="${book}" th:action="@{/books/new}">
    <label for="name">Название книги</label>
    <input type="text" th:field="*{name}" id="name">
    <br>
    <label for="author">ФИО автора</label>
    <input type="text" th:field="*{author}" id="author">
    <br>
    <label for="year">Дата выхода книги</label>
    <input type="text" th:field="*{year}" id="year">
    <br>
    <input type="submit" value="Создать">
</form>
</body>
</html>