<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Все книги</title>
</head>
<body>

<div th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.getId()})}"
            th:text="${book.getName()+', '+book.getAuthor()}">user</a>
</div>

<br/>
<hr/>

<a href="books/new">Создание новой книги</a>
<br/>
<hr/>

<form th:method="POST" th:action="@{/books/search}">
    <label for="name">Введите название книги</label>
    <input id="name" type="text" name="name"/>
    <br/>
    <input type="submit" value="Искать">
</form>


</body>
</html>